In [1]:
# Pre Req Imports
import matplotlib.pyplot as plt
import pandas as pd
import io
import os
import csv
import numpy as np
import requests
import json

# for plotting graphs
# Import API key
#from config import api_key

# Define Excel Sheets

In [2]:
PropertyOff_to_load = "Resources/B Property and deception offences.csv"

In [4]:
po_property_merged = pd.read_csv(PropertyOff_to_load)
po_property_merged

,Year,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Count,Median
0,2013,Yarra,3067,Abbotsford,B Property and deception offences,B10 Arson,3,792500
1,2013,Yarra,3067,Abbotsford,B Property and deception offences,B20 Property damage,75,792500
2,2013,Yarra,3067,Abbotsford,B Property and deception offences,B30 Burglary/Break and enter,127,792500
3,2013,Yarra,3067,Abbotsford,B Property and deception offences,B40 Theft,359,792500
4,2013,Yarra,3067,Abbotsford,B Property and deception offences,B50 Deception,166,792500
...,...,...,...,...,...,...,...,...
36408,2022,Murrindindi,3717,Yea,B Property and deception offences,B50 Deception,8,610000
36409,2022,Latrobe,3869,Yinnar,B Property and deception offences,B20 Property damage,7,562500
36410,2022,Latrobe,3869,Yinnar,B Property and deception offences,B30 Burglary/Break and enter,4,562500
36411,2022,Latrobe,3869,Yinnar,B Property and deception offences,B40 Theft,10,562500
36412,2022,Latrobe,3869,Yinnar,B Property and deception offences,B50 Deception,3,562500

In [5]:
theft_data = po_property_merged[po_property_merged["Offence Subdivision"] == "B40 Theft"]
groupedtheft_data = theft_data.groupby("Offence Count").count()
theft_data.head(25)

,Year,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Count,Median
3,2013,Yarra,3067,Abbotsford,B Property and deception offences,B40 Theft,359,792500
7,2013,Moonee Valley,3040,Aberfeldie,B Property and deception offences,B40 Theft,31,947500
11,2013,Surf Coast,3231,Aireys Inlet,B Property and deception offences,B40 Theft,3,664000
15,2013,Moonee Valley,3042,Airport West,B Property and deception offences,B40 Theft,361,532000
20,2013,Brimbank,3021,Albanvale,B Property and deception offences,B40 Theft,145,313000
25,2013,Port Phillip,3206,Albert Park,B Property and deception offences,B40 Theft,186,1360000
30,2013,Brimbank,3020,Albion,B Property and deception offences,B40 Theft,183,379000
35,2013,Murrindindi,3714,Alexandra,B Property and deception offences,B40 Theft,20,261000
40,2013,Ballarat,3350,Alfredton,B Property and deception offences,B40 Theft,121,361500
46,2013,Moyne,3277,Allansford,B Property and deception offences,B40 Theft,3,310000
47,2013,Warrnambool,3277,Allansford,B Property and deception offences,B40 Theft,7,310000
54,2013,Darebin,3078,Alphington,B Property and deception offences,B40 Theft,91,1080000
55,2013,Yarra,3078,Alphington,B Property and deception offences,B40 Theft,25,1080000
61,2013,Hobsons Bay,3018,Altona,B Property and deception offences,B40 Theft,285,575000
66,2013,Hobsons Bay,3028,Altona Meadows,B Property and deception offences,B40 Theft,361,390000
72,2013,Hobsons Bay,3025,Altona North,B Property and deception offences,B40 Theft,503,510000
77,2013,Surf Coast,3230,Anglesea,B Property and deception offences,B40 Theft,33,550000
81,2013,Colac-Otway,3233,Apollo Bay,B Property and deception offences,B40 Theft,37,450000
85,2013,Ararat,3377,Ararat,B Property and deception offences,B40 Theft,187,180000
90,2013,Brimbank,3022,Ardeer,B Property and deception offences,B40 Theft,215,330000
96,2013,Stonnington,3143,Armadale,B Property and deception offences,B40 Theft,203,1675000
101,2013,Greater Geelong,3217,Armstrong Creek,B Property and deception offences,B40 Theft,15,467500
105,2013,Moonee Valley,3032,Ascot Vale,B Property and deception offences,B40 Theft,375,735000
110,2013,Boroondara,3147,Ashburton,B Property and deception offences,B40 Theft,190,1000000
115,2013,Monash,3147,Ashwood,B Property and deception offences,B40 Theft,112,775000

In [6]:
theftsummed_data = theft_data.groupby(["Suburb/Town Name", "Year"])["Offence Count", "Median"].sum().reset_index()
theftsummed_data = theftsummed_data.rename(columns={"Offence Count": " Thefts", "Suburb/Town Name": "Suburb"})
theftsummed_data.head(20)

C:\Users\shang\AppData\Local\Temp\ipykernel_21724\2788054940.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  theftsummed_data = theft_data.groupby(["Suburb/Town Name", "Year"])["Offence Count", "Median"].sum().reset_index()

        Suburb  Year   Drug dealing and trafficking   Median
0   Abbotsford  2013                            359   792500
1   Abbotsford  2014                            467   862500
2   Abbotsford  2015                            614   925000
3   Abbotsford  2016                            640  1187500
4   Abbotsford  2017                            590  1280000
5   Abbotsford  2018                            766  1192500
6   Abbotsford  2019                            656  1050000
7   Abbotsford  2020                            625  1200000
8   Abbotsford  2021                            573  1375000
9   Abbotsford  2022                            530  1517500
10  Aberfeldie  2013                             31   947500
11  Aberfeldie  2014                             56  1045000
12  Aberfeldie  2015                             67  1207500
13  Aberfeldie  2016                             75  1300000
14  Aberfeldie  2017                             51  1471000
15  Aberfeldie  2018                             60  1498500
16  Aberfeldie  2019                             70  1390000
17  Aberfeldie  2020                             44  1520000
18  Aberfeldie  2021                             51  1880500
19  Aberfeldie  2022                             38  1575000

In [9]:
# Data from the year 2022 only
theftsummed_data_2022 = theft_data[theft_data["Year"] == 2022].groupby(["Year", "Suburb/Town Name"])[["Offence Count", "Median"]].sum().reset_index()
theftsummed_data_2022 = theftsummed_data_2022.rename(columns={"Offence Count": "Thefts", "Suburb/Town Name": "Suburb"})
theftsummed_data_2022 = theftsummed_data_2022.sort_values(["Thefts"] , ascending=False)
theftsummed_data_2022.head(50)

     Year            Suburb  Thefts   Median
253  2022           Fitzroy    2213  1542500
551  2022           Preston    1806  1252500
189  2022         Dandenong    1748   715000
262  2022         Frankston    1671   779000
627  2022          St Kilda    1416  1515000
561  2022         Reservoir    1345   966000
618  2022       South Yarra    1319  3300000
712  2022          Werribee    1305   620500
563  2022          Richmond    1304  1385000
439  2022           Mildura    1301   439500
623  2022         St Albans    1277   702500
413  2022      Malvern East    1183  2410000
100  2022         Brunswick    1090  1325000
603  2022        Shepparton    1062   405000
316  2022  Hoppers Crossing    1056   620000
524  2022          Pakenham    1000   655000
126  2022           Carlton     995  3200000
238  2022            Epping     984   700000
259  2022         Footscray     977   996000
621  2022        Springvale     962   925000
616  2022   South Melbourne     942  1812500
173  2022       Craigieburn     933   668000
651  2022           Tarneit     925   645000
550  2022           Prahran     917  1750000
544  2022    Port Melbourne     900  3235000
537  2022        Point Cook     893   740000
480  2022      Narre Warren     888   768000
679  2022         Truganina     881  1310000
96   2022      Broadmeadows     877   600000
148  2022           Clayton     850  1082500
174  2022        Cranbourne     831   670000
165  2022       Collingwood     812  1289000
36   2022  Ballarat Central     801   710000
106  2022          Bundoora     796  2539500
565  2022          Ringwood     771  1032500
158  2022            Coburg     770  1262500
66   2022           Berwick     746   862500
275  2022     Glen Waverley     746  1650000
419  2022       Maribyrnong     744  1125000
499  2022        Noble Park     721   770000
642  2022          Sunshine     689   945000
63   2022           Bendigo     680   660000
169  2022             Corio     673   524000
460  2022           Morwell     673   315000
268  2022           Geelong     666   850000
676  2022         Traralgon     654   465000
504  2022   North Melbourne     637  1177000
506  2022         Northcote     628  1550000
472  2022    Mount Waverley     626  1510000
664  2022        Thomastown     615   742000

In [10]:
damage_data = po_property_merged[po_property_merged["Offence Subdivision"] == "B20 Property damage"]
groupeddamage_data = theft_data.groupby("Offence Count").count()
damage_data.head(25)

,Year,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Count,Median
1,2013,Yarra,3067,Abbotsford,B Property and deception offences,B20 Property damage,75,792500
5,2013,Moonee Valley,3040,Aberfeldie,B Property and deception offences,B20 Property damage,14,947500
9,2013,Surf Coast,3231,Aireys Inlet,B Property and deception offences,B20 Property damage,4,664000
13,2013,Moonee Valley,3042,Airport West,B Property and deception offences,B20 Property damage,44,532000
18,2013,Brimbank,3021,Albanvale,B Property and deception offences,B20 Property damage,32,313000
23,2013,Port Phillip,3206,Albert Park,B Property and deception offences,B20 Property damage,40,1360000
28,2013,Brimbank,3020,Albion,B Property and deception offences,B20 Property damage,41,379000
33,2013,Murrindindi,3714,Alexandra,B Property and deception offences,B20 Property damage,24,261000
38,2013,Ballarat,3350,Alfredton,B Property and deception offences,B20 Property damage,37,361500
42,2013,Moyne,3277,Allansford,B Property and deception offences,B20 Property damage,1,310000
43,2013,Warrnambool,3277,Allansford,B Property and deception offences,B20 Property damage,5,310000
50,2013,Darebin,3078,Alphington,B Property and deception offences,B20 Property damage,20,1080000
51,2013,Yarra,3078,Alphington,B Property and deception offences,B20 Property damage,5,1080000
59,2013,Hobsons Bay,3018,Altona,B Property and deception offences,B20 Property damage,145,575000
64,2013,Hobsons Bay,3028,Altona Meadows,B Property and deception offences,B20 Property damage,95,390000
70,2013,Hobsons Bay,3025,Altona North,B Property and deception offences,B20 Property damage,104,510000
75,2013,Surf Coast,3230,Anglesea,B Property and deception offences,B20 Property damage,13,550000
79,2013,Colac-Otway,3233,Apollo Bay,B Property and deception offences,B20 Property damage,22,450000
83,2013,Ararat,3377,Ararat,B Property and deception offences,B20 Property damage,195,180000
88,2013,Brimbank,3022,Ardeer,B Property and deception offences,B20 Property damage,30,330000
94,2013,Stonnington,3143,Armadale,B Property and deception offences,B20 Property damage,44,1675000
99,2013,Greater Geelong,3217,Armstrong Creek,B Property and deception offences,B20 Property damage,2,467500
103,2013,Moonee Valley,3032,Ascot Vale,B Property and deception offences,B20 Property damage,112,735000
108,2013,Boroondara,3147,Ashburton,B Property and deception offences,B20 Property damage,89,1000000
113,2013,Monash,3147,Ashwood,B Property and deception offences,B20 Property damage,30,775000

In [11]:
damagesummed_data = damage_data.groupby(["Suburb/Town Name", "Year"])["Offence Count", "Median"].sum().reset_index()
damagesummed_data = damagesummed_data.rename(columns={"Offence Count": "Damange_Crimes", "Suburb/Town Name": "Suburb"})
damagesummed_data.head(20)

C:\Users\shang\AppData\Local\Temp\ipykernel_21724\2812438562.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  damagesummed_data = damage_data.groupby(["Suburb/Town Name", "Year"])["Offence Count", "Median"].sum().reset_index()

        Suburb  Year  Damange_Crimes   Median
0   Abbotsford  2013              75   792500
1   Abbotsford  2014              95   862500
2   Abbotsford  2015              92   925000
3   Abbotsford  2016              81  1187500
4   Abbotsford  2017             100  1280000
5   Abbotsford  2018             100  1192500
6   Abbotsford  2019             108  1050000
7   Abbotsford  2020              82  1200000
8   Abbotsford  2021             106  1375000
9   Abbotsford  2022              99  1517500
10  Aberfeldie  2013              14   947500
11  Aberfeldie  2014              24  1045000
12  Aberfeldie  2015              15  1207500
13  Aberfeldie  2016              12  1300000
14  Aberfeldie  2017              12  1471000
15  Aberfeldie  2018               7  1498500
16  Aberfeldie  2019               8  1390000
17  Aberfeldie  2020              20  1520000
18  Aberfeldie  2021              22  1880500
19  Aberfeldie  2022               7  1575000

In [14]:
# Data from the year 2022 only
damagesummed_data_2022 = damage_data[damage_data["Year"] == 2022].groupby(["Year", "Suburb/Town Name"])[["Offence Count", "Median"]].sum().reset_index()
damagesummed_data_2022 = damagesummed_data_2022.rename(columns={"Offence Count": "Damange_Crimes", "Suburb/Town Name": "Suburb"})
damagesummed_data_2022 = damagesummed_data_2022.sort_values(["Damange_Crimes"] , ascending=False)
#damagesummed_data_2022.head(50)
damagesummed_data_2022.tail(50)

     Year              Suburb  Damange_Crimes   Median
451  2022     Mount Dandenong               2  1280000
239  2022              Eureka               2   535000
27   2022              Avenel               2   515000
540  2022             Rainbow               2   142500
302  2022     Hepburn Springs               2   850000
189  2022            Deanside               2   604500
222  2022            Edenhope               2   161500
588  2022    Shepparton North               2   654000
574  2022         Sandy Point               2   820000
3    2022        Aireys Inlet               2  1750000
260  2022           Fyansford               2   985000
589  2022        Skenes Creek               2   850000
474  2022              Nelson               2   410000
196  2022         Derrinallum               2   291000
26   2022             Attwood               2   703000
376  2022              Leneva               1   635000
525  2022         Port Albert               1   523500
66   2022             Birchip               1   180000
362  2022           Lake Boga               1   343000
547  2022               Rhyll               1   935000
526  2022       Port Campbell               1   800000
363  2022          Lake Bunga               1   829500
383  2022          Lockington               1   350000
30   2022          Avonsleigh               1   705000
532  2022      Portland North               1   295000
365  2022    Lake Tyers Beach               1   830000
375  2022         Leitchville               1   295000
402  2022           Malmsbury               1   745000
270  2022           Glengarry               1   615000
350  2022            Kinglake               1   797500
479  2022            Newhaven               1   936500
581  2022            Seaspray               1   390000
301  2022             Hepburn               1   675000
245  2022         Ferny Creek               1  1022500
664  2022             Ventnor               1   840000
575  2022  Sawmill Settlement               1   565000
219  2022      East Warburton               1   523000
672  2022     Wandana Heights               1  1030000
432  2022              Minyip               1   144000
636  2022       Tawonga South               1   664000
513  2022       Park Orchards               1  2240000
541  2022              Rawson               1   290000
497  2022           Nyah West               1   209000
424  2022            Merrigum               1   248500
271  2022           Glenrowan               1   516000
416  2022            Meeniyan               1   780000
102  2022           Bundalong               1  3400000
625  2022        Sunset Strip               1   835000
79   2022               Boort               1   215000
631  2022          Swan Reach               1   764500

In [15]:
drugs_to_load = "Resources/C Drug offences.csv"

In [16]:
drugs_property_merged = pd.read_csv(drugs_to_load)
drugs_property_merged

,Year,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Count,Median
0,2013,Yarra,3067,Abbotsford,C Drug offences,C10 Drug dealing and trafficking,18,792500
1,2013,Yarra,3067,Abbotsford,C Drug offences,C30 Drug use and possession,61,792500
2,2013,Moonee Valley,3042,Airport West,C Drug offences,C10 Drug dealing and trafficking,4,532000
3,2013,Moonee Valley,3042,Airport West,C Drug offences,C20 Cultivate or manufacture drugs,9,532000
4,2013,Moonee Valley,3042,Airport West,C Drug offences,C30 Drug use and possession,21,532000
...,...,...,...,...,...,...,...,...
16134,2022,Maribyrnong,3013,Yarraville,C Drug offences,C30 Drug use and possession,55,1350000
16135,2022,Moira,3730,Yarrawonga,C Drug offences,C10 Drug dealing and trafficking,10,695000
16136,2022,Moira,3730,Yarrawonga,C Drug offences,C20 Cultivate or manufacture drugs,2,695000
16137,2022,Moira,3730,Yarrawonga,C Drug offences,C30 Drug use and possession,28,695000
16138,2022,Murrindindi,3717,Yea,C Drug offences,C30 Drug use and possession,1,610000

In [17]:
drugs_data = drugs_property_merged[drugs_property_merged["Offence Subdivision"] == "C10 Drug dealing and trafficking"]
groupeddrugs_data = drugs_data.groupby("Offence Count").count()
drugs_data.head(25)

,Year,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Count,Median
0,2013,Yarra,3067,Abbotsford,C Drug offences,C10 Drug dealing and trafficking,18,792500
2,2013,Moonee Valley,3042,Airport West,C Drug offences,C10 Drug dealing and trafficking,4,532000
5,2013,Brimbank,3021,Albanvale,C Drug offences,C10 Drug dealing and trafficking,3,313000
10,2013,Brimbank,3020,Albion,C Drug offences,C10 Drug dealing and trafficking,6,379000
13,2013,Murrindindi,3714,Alexandra,C Drug offences,C10 Drug dealing and trafficking,6,261000
16,2013,Ballarat,3350,Alfredton,C Drug offences,C10 Drug dealing and trafficking,4,361500
19,2013,Moyne,3277,Allansford,C Drug offences,C10 Drug dealing and trafficking,1,310000
21,2013,Darebin,3078,Alphington,C Drug offences,C10 Drug dealing and trafficking,5,1080000
24,2013,Hobsons Bay,3018,Altona,C Drug offences,C10 Drug dealing and trafficking,1,575000
27,2013,Hobsons Bay,3028,Altona Meadows,C Drug offences,C10 Drug dealing and trafficking,9,390000
30,2013,Hobsons Bay,3025,Altona North,C Drug offences,C10 Drug dealing and trafficking,12,510000
35,2013,Ararat,3377,Ararat,C Drug offences,C10 Drug dealing and trafficking,211,180000
38,2013,Brimbank,3022,Ardeer,C Drug offences,C10 Drug dealing and trafficking,30,330000
41,2013,Stonnington,3143,Armadale,C Drug offences,C10 Drug dealing and trafficking,2,1675000
43,2013,Moonee Valley,3032,Ascot Vale,C Drug offences,C10 Drug dealing and trafficking,13,735000
46,2013,Boroondara,3147,Ashburton,C Drug offences,C10 Drug dealing and trafficking,5,1000000
49,2013,Kingston,3195,Aspendale,C Drug offences,C10 Drug dealing and trafficking,1,620000
51,2013,Kingston,3195,Aspendale Gardens,C Drug offences,C10 Drug dealing and trafficking,1,586500
55,2013,Moonee Valley,3034,Avondale Heights,C Drug offences,C10 Drug dealing and trafficking,7,532500
58,2013,Moorabool,3340,Bacchus Marsh,C Drug offences,C10 Drug dealing and trafficking,10,335500
61,2013,East Gippsland,3875,Bairnsdale,C Drug offences,C10 Drug dealing and trafficking,5,235000
64,2013,Port Phillip,3183,Balaclava,C Drug offences,C10 Drug dealing and trafficking,12,860500
67,2013,Moorabool,3342,Ballan,C Drug offences,C10 Drug dealing and trafficking,1,352000
70,2013,Ballarat,3350,Ballarat Central,C Drug offences,C10 Drug dealing and trafficking,27,322000
74,2013,Ballarat,3350,Ballarat East,C Drug offences,C10 Drug dealing and trafficking,4,265000

In [18]:
drsummed_data = drugs_data.groupby(["Suburb/Town Name", "Year"])["Offence Count", "Median"].sum().reset_index()
drsummed_data = drsummed_data.rename(columns={"Offence Count": " Drug dealing and trafficking", "Suburb/Town Name": "Suburb"})
drsummed_data.head(20)

C:\Users\shang\AppData\Local\Temp\ipykernel_21724\655787725.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  drsummed_data = drugs_data.groupby(["Suburb/Town Name", "Year"])["Offence Count", "Median"].sum().reset_index()

          Suburb  Year   Drug dealing and trafficking   Median
0     Abbotsford  2013                             18   792500
1     Abbotsford  2014                              9   862500
2     Abbotsford  2015                             14   925000
3     Abbotsford  2016                              7  1187500
4     Abbotsford  2017                              7  1280000
5     Abbotsford  2018                             24  1192500
6     Abbotsford  2019                             40  1050000
7     Abbotsford  2020                             37  1200000
8     Abbotsford  2021                             32  1375000
9     Abbotsford  2022                             27  1517500
10    Aberfeldie  2015                              2  1207500
11    Aberfeldie  2018                              2  1498500
12    Aberfeldie  2019                              1  1390000
13    Aberfeldie  2020                              1  1520000
14       Aintree  2019                              7   575000
15       Aintree  2020                              1   640000
16       Aintree  2021                              1   719000
17       Aintree  2022                              1   760000
18  Airport West  2013                              4   532000
19  Airport West  2014                              2   575000

In [19]:
# Data from the year 2022 only
drsummed_data_2022 = drugs_data[drugs_data["Year"] == 2022].groupby(["Year", "Suburb/Town Name"])[["Offence Count", "Median"]].sum().reset_index()
drsummed_data_2022 = drsummed_data_2022.rename(columns={"Offence Count": "Drug dealing and trafficking", "Suburb/Town Name": "Suburb"})
drsummed_data_2022 = drsummed_data_2022.sort_values(["Drug dealing and trafficking"] , ascending=False)
drsummed_data_2022.head(50)

     Year            Suburb  Drug dealing and trafficking   Median
349  2022        Shepparton                           271   405000
204  2022        Hughesdale                           114  1625000
364  2022          St Kilda                           100  1515000
362  2022         St Albans                            64   702500
328  2022         Reservoir                            57   966000
329  2022          Richmond                            50  1385000
163  2022         Frankston                            46   779000
414  2022          Werribee                            42   620500
283  2022           Morwell                            42   315000
268  2022           Mildura                            40   439500
384  2022        Thomastown                            38   742000
394  2022         Traralgon                            38   465000
80   2022      Carrum Downs                            36   728000
149  2022            Epping                            33   700000
409  2022       Warrnambool                            30   587500
160  2022         Footscray                            29   996000
425  2022           Wodonga                            28   490000
117  2022         Dandenong                            28   715000
0    2022        Abbotsford                            27  1517500
320  2022        Point Cook                            26   740000
61   2022          Bundoora                            26  2539500
113  2022           Croydon                            24   910500
221  2022            Kialla                            24   622500
341  2022              Sale                            23   515000
233  2022             Lalor                            21   726000
343  2022          Scoresby                            21   982500
299  2022        Noble Park                            21   770000
48   2022           Boronia                            20   852500
315  2022          Pakenham                            20   655000
203  2022           Horsham                            20   380000
34   2022         Bayswater                            19   936500
330  2022          Ringwood                            19  1032500
325  2022           Preston                            19  1252500
269  2022         Mill Park                            18   805500
360  2022        Springvale                            18   925000
256  2022       Maribyrnong                            18  1125000
236  2022          Laverton                            18   607500
214  2022      Keilor Downs                            18   720000
355  2022   South Melbourne                            17  1812500
167  2022           Geelong                            17   850000
397  2022       Tullamarine                            17  1690000
16   2022        Ascot Vale                            17  1270000
202  2022  Hoppers Crossing                            17   620000
158  2022        Flemington                            17  2860000
91   2022           Clayton                            16  1082500
405  2022        Wangaratta                            16   530000
345  2022           Seaford                            16   915000
129  2022    Doncaster East                            16  1570500
308  2022          Oakleigh                            16  1425000
234  2022        Langwarrin                            16   860000

In [20]:
crime_data_to_load = "Resources/A Crimes against the person.csv"

In [21]:
crime_property_merged = pd.read_csv(crime_data_to_load)

In [22]:
assault_data = crime_property_merged[crime_property_merged["Offence Subdivision"] == "A20 Assault and related offences"]
grouped_data = assault_data.groupby("Offence Count").count()
assault_data.head()

,Year,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Count,Median
0,2013,Yarra,3067,Abbotsford,A Crimes against the person,A20 Assault and related offences,40,792500
5,2013,Moonee Valley,3040,Aberfeldie,A Crimes against the person,A20 Assault and related offences,11,947500
12,2013,Moonee Valley,3042,Airport West,A Crimes against the person,A20 Assault and related offences,41,532000
17,2013,Brimbank,3021,Albanvale,A Crimes against the person,A20 Assault and related offences,42,313000
22,2013,Port Phillip,3206,Albert Park,A Crimes against the person,A20 Assault and related offences,26,1360000

In [23]:
summed_data = assault_data.groupby(["Suburb/Town Name", "Year"])["Offence Count", "Median"].sum().reset_index()
summed_data = summed_data.rename(columns={"Offence Count": "Total Assault Offences", "Suburb/Town Name": "Suburb"})
summed_data.head(20)

C:\Users\shang\AppData\Local\Temp\ipykernel_21724\2267480992.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  summed_data = assault_data.groupby(["Suburb/Town Name", "Year"])["Offence Count", "Median"].sum().reset_index()

        Suburb  Year  Total Assault Offences   Median
0   Abbotsford  2013                      40   792500
1   Abbotsford  2014                      49   862500
2   Abbotsford  2015                      48   925000
3   Abbotsford  2016                      72  1187500
4   Abbotsford  2017                      79  1280000
5   Abbotsford  2018                      61  1192500
6   Abbotsford  2019                      98  1050000
7   Abbotsford  2020                      82  1200000
8   Abbotsford  2021                      90  1375000
9   Abbotsford  2022                     100  1517500
10  Aberfeldie  2013                      11   947500
11  Aberfeldie  2014                      12  1045000
12  Aberfeldie  2015                       6  1207500
13  Aberfeldie  2016                       9  1300000
14  Aberfeldie  2017                      10  1471000
15  Aberfeldie  2018                       7  1498500
16  Aberfeldie  2019                      18  1390000
17  Aberfeldie  2020                      11  1520000
18  Aberfeldie  2021                       6  1880500
19  Aberfeldie  2022                      14  1575000

In [24]:
# Data from the year 2022 only
summed_data_2022 = assault_data[assault_data["Year"] == 2022].groupby(["Year", "Suburb/Town Name"])[["Offence Count", "Median"]].sum().reset_index()
summed_data_2022 = summed_data_2022.rename(columns={"Offence Count": "2022 Assaults", "Suburb/Town Name": "Suburb", "Median": "2022Median"})
# summed_data_2013.sort_values(by="Total Assault Offences" , ascending=False).tail(50)
summed_data_2022.head(50)

    Year              Suburb  2022 Assaults  2022Median
0   2022          Abbotsford            100     1517500
1   2022          Aberfeldie             14     1575000
2   2022             Aintree             33      760000
3   2022        Aireys Inlet              1     1750000
4   2022        Airport West             39      919500
5   2022           Albanvale             43      605000
6   2022         Albert Park             29     2076000
7   2022              Albion             32      785000
8   2022           Alexandra             14      545000
9   2022           Alfredton             57      700000
10  2022          Allansford              5     1258000
11  2022          Alphington             12     3980000
12  2022              Altona             56     1018000
13  2022      Altona Meadows             86      750000
14  2022        Altona North             75      920000
15  2022            Anglesea              6     1712500
16  2022          Apollo Bay             16     1160000
17  2022              Ararat            121      340000
18  2022              Ardeer             18      737500
19  2022            Armadale             29     2721000
20  2022     Armstrong Creek             63      721000
21  2022          Ascot Vale             66     1270000
22  2022           Ashburton             53     2225000
23  2022             Ashwood             67     1410000
24  2022           Aspendale             39     1350000
25  2022   Aspendale Gardens             19     1157000
26  2022             Attwood             10      703000
27  2022               Avoca              2      375000
28  2022    Avondale Heights             61      990000
29  2022          Avonsleigh              1      705000
30  2022       Bacchus Marsh             58      620000
31  2022        Badger Creek              7      700000
32  2022          Bairnsdale            188      425000
33  2022           Balaclava             61     1660000
34  2022              Ballan             12      661000
35  2022    Ballarat Central            151      710000
36  2022       Ballarat East             57      540000
37  2022      Ballarat North             12      635000
38  2022          Balnarring              9     1306500
39  2022              Balwyn             49     2716500
40  2022        Balwyn North             63     3953000
41  2022            Bandiana              1      449500
42  2022         Bannockburn             11      720000
43  2022           Baranduda              2      683000
44  2022        Barwon Heads             13     1667500
45  2022              Baxter             12      787500
46  2022           Bayswater            127      936500
47  2022     Bayswater North             79      868500
48  2022        Beaconsfield             40     1782000
49  2022  Beaconsfield Upper              4     1205000

In [27]:
merge1_2022 = pd.merge(summed_data_2022, drsummed_data_2022, on=["Suburb"])
merge1_2022 = merge1_2022 .drop(["2022Median", "Year_y"], axis =1)
merge1_2022

,Year_x,Suburb,2022 Assaults,Drug dealing and trafficking,Median
0,2022,Abbotsford,100,27,1517500
1,2022,Aintree,33,1,760000
2,2022,Airport West,39,2,919500
3,2022,Albanvale,43,11,605000
4,2022,Albert Park,29,3,2076000
...,...,...,...,...,...
432,2022,Yallourn North,20,14,302500
433,2022,Yarragon,12,1,595000
434,2022,Yarram,38,1,452500
435,2022,Yarraville,63,13,1350000
436,2022,Yarrawonga,50,10,695000

In [36]:
merge2_2022 = pd.merge(merge1_2022, theftsummed_data_2022, on=["Suburb"])
merge2_2022 = merge2_2022 .drop(["Median_x", "Year"], axis =1)
merge2_2022

,Year_x,Suburb,2022 Assaults,Drug dealing and trafficking,Thefts,Median_y
0,2022,Abbotsford,100,27,530,1517500
1,2022,Aintree,33,1,122,760000
2,2022,Airport West,39,2,404,919500
3,2022,Albanvale,43,11,93,605000
4,2022,Albert Park,29,3,273,2076000
...,...,...,...,...,...,...
432,2022,Yallourn North,20,14,25,302500
433,2022,Yarragon,12,1,54,595000
434,2022,Yarram,38,1,39,452500
435,2022,Yarraville,63,13,399,1350000
436,2022,Yarrawonga,50,10,114,695000

In [43]:
merge3_2022 = pd.merge(merge2_2022, damagesummed_data_2022, on=["Suburb"])
merge3_2022 = merge3_2022 .drop(["Median_y", "Year"], axis =1)
merge3_2022

,Year_x,Suburb,2022 Assaults,Drug dealing and trafficking,Thefts,Damange_Crimes,Median
0,2022,Abbotsford,100,27,530,99,1517500
1,2022,Aintree,33,1,122,20,760000
2,2022,Airport West,39,2,404,62,919500
3,2022,Albanvale,43,11,93,25,605000
4,2022,Albert Park,29,3,273,23,2076000
...,...,...,...,...,...,...,...
430,2022,Yallourn North,20,14,25,8,605000
431,2022,Yarragon,12,1,54,16,595000
432,2022,Yarram,38,1,39,38,452500
433,2022,Yarraville,63,13,399,86,1350000
434,2022,Yarrawonga,50,10,114,30,695000

# Merged Data
The `Resources` folder contains the following working csv files:
- `A Crimes against the person.csv`
- `B Property and deception offences.csv`
- `C Drug offences.csv`
- `D Public order and security offences.csv`
- `E Justice procedures offences.csv`
- `F Other offences.csv`

Each is a merge of cleaned crimes inner joined to cleaned property by matching suburb name.